body {
    background-color: #4b7a97;
    margin: 0;
    position: relative;
}


main {
    padding: 20px;

}

.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;


}

.site {
    height: 500px;
    width: 80%;
    border-radius: 20px;
}

.coming-soon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: black;
    border-style: dotted;
}

.phone img {
    width: 100%;
    display: none;
}

.phone a{
    display: none;
}

@media(max-width:700px) {


    .phone {
        height: 90%;
        width: 80%;
        display: flex;
        justify-content: center;
        opacity: 1;
        
    }
    .projects {
        flex-direction: column;

    }

    .phone img {
        display:block;
        border-radius: 20px;
        border:  #15c  2px solid;
        cursor: pointer;
    }

    .phone a{
        display:block;
    }

    iframe {
        opacity: 0;
        display: none;
    }

  
}